<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tutorial: Hello Dojo!</title>
    <script>
        //myModule.js
        define([
            // The dojo/dom module is required by this module, so it goes
            // in this list of dependencies.
            'dojo/dom'
        ], function(dom){
            // Once all modules in the dependency list have loaded, this
            // function is called to define the demo/myModule module.
            //
            // The dojo/dom module is passed as the first argument to this
            // function; additional modules in the dependency list would be
            // passed in as subsequent arguments.

            var oldText = {};

            // This returned object becomes the defined value of this module
            return {
                setText: function (id, text) {
                    var node = dom.byId(id);
                    oldText[id] = node.innerHTML;
                    node.innerHTML = text;
                },

                restoreText: function (id) {
                    var node = dom.byId(id);
                    node.innerHTML = oldText[id];
                    delete oldText[id];
                }
            };
        });
    </script>
</head>
<body>
<h1 id="greeting">Hello</h1>
<!-- load Dojo -->
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"
        data-dojo-config="async: true"></script>

<script>
    require([
        'dojo/dom',
        'dojo/dom-construct'
    ], function (dom, domConstruct) {
        var greetingNode = dom.byId('greeting');
        domConstruct.place('<em> Dojo!</em>', greetingNode);
    });
</script>
</body>
</html>