<style>
    #soulnavbar {
        background-color:#e74c3c;
        color:white;
        font-size:24px;
        padding:5px;
        text-align:center;
        width:100%;
        transition: top .5s;
        position:fixed;
        height: 100px;
        bottom: 0px;
    }
</style>
<!-- /Menu-->
<div id="soulnavbar">Bottom bar</div>
<!-- /Menu -->
<script>
    var lastScrollTop = 0, delta = 5;
    $(window).scroll(function(event){
        var st = $(this).scrollTop();

        if(Math.abs(lastScrollTop - st) <= delta)
            return;

        if (st > lastScrollTop){
            // downscroll code
            $("#soulnavbar").slideUp()
        } else {
            // upscroll code
            $("#soulnavbar").slideDown();

        }
        lastScrollTop = st;
    });
</script>