<html><head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection">
    <title>Publish</title>
    <link rel="stylesheet" href="epuy-style.css">
    <script src="http://libs.baidu.com/jquery/1.8.0/jquery.js"></script>
    <script>
        function addcookie(name,value,expireHours){
            var cookieString=name+"="+encodeURIComponent(value)+"; path=/"+";domain=.{{ app.request.getHttpHost() }}";
            if(expireHours>0){
                var date=new Date();
                date.setTime(date.getTime+expireHours*3600*1000);
                cookieString=cookieString+"; expire="+date.toGMTString();
            }
            document.cookie=cookieString;
        }

        function getcookie(name){
            var strcookie=document.cookie;
            var arrcookie=strcookie.split("; ");
            for(var i=0;i<arrcookie.length;i++){
                var arr=arrcookie[i].split("=");
                if(arr[0]==name)return arr[1];
            }
            return "";
        }

        function delCookie(name){//删除cookie
            var exp = new Date();
            exp.setTime(exp.getTime() - 1);
            var cval=getcookie(name);
            if(cval!=null) document.cookie= name + "="+cval+"; path=/;expires="+exp.toGMTString()+";domain=.{{ app.request.getHttpHost() }}";
        }
    </script>
</head>
<body style="
    background: #f1e1f1; padding:0; margin:0;
">
<div class="control-header" style="
    height: 35px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #aaa;
    background: #fff;
">
    <a href="javascript:void(0);" style="
    font-size: 1em;
    text-decoration: none;
    color: #616161;
    line-height: 35px;
    float: left;
    padding-left: 8px;
"></a>
    <a href="javascript:void(0);" id="next-btn" onclick="" style="
    color: #2a8;
    font-weight: bold;
    text-decoration: none;
    float: right;
    line-height: 35px;
    padding-right: 8px;
">下一步</a>
</div>
<div class="publish-content" style="
    margin-top: 45px;
">
    <form action="{{ path('publish_step1_submit') }}" method="post" id="form">
        <input name="name" placeholder="拍品名称" style="width: 100px; box-sizing: border-box; padding-left: 10px;font-size: 1em; height: 20px; line-height: 20px; border: none; diplay:block" />
        <textarea name="description" placeholder="我的拍品描述..." style="
    border: none;
    resize: none;
    width: 100%;
    height: 200px;
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box;
"></textarea>
        <style>
            .img-list {padding: 10px; width: 100%; box-sizing: border-box;}
            .img-list .img-item {width: 150px; height: 150px; position:relative; float:left;}
            .img-item img {width: 150px; height: 150px; float:left;}
            .img-item i {position: absolute; top:0; right: 0; width: 16px; height: 16px; display: block;
                border-radius: 8px; border: 1px solid #fff; background: #000;
            }
            .img-item {margin-left: 10px;}
        </style>
        <div class="img-list">
        </div>
        <input type="hidden" id="server-img-input1" name="images[0]['serverId']">
        <input type="hidden" id="server-img-input2" name="images[1]['serverId']">
        <input type="hidden" id="server-img-input3" name="images[2]['serverId']">
        <input type="hidden" id="server-img-input4" name="images[3]['serverId']">
        <input type="hidden" id="server-img-input5" name="images[4]['serverId']">
        <input type="hidden" id="server-img-input6" name="images[5]['serverId']">
        <input type="hidden" id="server-img-input7" name="images[6]['serverId']">
        <input type="hidden" id="server-img-input8" name="images[7]['serverId']">
        <input type="hidden" id="server-img-input9" name="images[8]['serverId']">
        <input type="hidden" id="local-img-input1" name="images[0]['localId']">
        <input type="hidden" id="local-img-input2" name="images[1]['localId']">
        <input type="hidden" id="local-img-input3" name="images[2]['localId']">
        <input type="hidden" id="local-img-input4" name="images[3]['localId']">
        <input type="hidden" id="local-img-input5" name="images[4]['localId']">
        <input type="hidden" id="local-img-input6" name="images[5]['localId']">
        <input type="hidden" id="local-img-input7" name="images[6]['localId']">
        <input type="hidden" id="local-img-input8" name="images[7]['localId']">
        <input type="hidden" id="local-img-input9" name="images[8]['localId']">
    </form>
</div>
<script>
    var n = 1;
    for(var i = 1; i <= 9; i++) {
        if(getcookie('current-upload-img'+i) != '') {
            $('#server-img-input'+i).val(getcookie('server-img'+i));
            $('#local-img-input'+i).val(getcookie('current-upload-img'+i));
            $('.img-list').html($('.img-list').html() + '<div class="img-item" id="img-item'+i+'"><img src="' +decodeURIComponent(getcookie('current-upload-img'+i)) +'"></div>');
            n ++;
        }
    }
    $('#next-btn').live('click', function (){
        $('#form').submit();
    });
</script>


</body></html>