body,ul,img,p {padding: 0; margin:0;}
li {list-style: none;}

.product-list li {width: 48%; margin:1%; float:left;}
.product-list li .img img{width: 100%; height: 100%;}
.product-list li .img {position:relative;}
.product-list li .img span{position: absolute; width: 100%; line-height: 50px; bottom: 0; height: 50px; padding-left: 12px; background: #fff; opacity: 0.6}
.product-list li .details {text-decoration:none;}

.liked-list li {width: 48%; margin:1%; float:left;}
.liked-list li .img img{width: 100%; height: 100%;}
.liked-list li .img {position:relative;}
.liked-list li .img span{position: absolute; width: 100%; line-height: 50px; bottom: 0; height: 50px; padding-left: 12px; background: #fff; opacity: 0.6}
.liked-list li .details {text-decoration:none;}
