body,ul,img,p {padding: 0; margin:0;}
li {list-style: none;}

.product-list li {width: 48%; margin:1%; float:left;}
.product-list li .img img{width: 100%; height: 100%;}
.product-list li .img {position:relative;}
.product-list li .img span{position: absolute; width: 100%; line-height: 50px; bottom: 0; height: 50px; padding-left: 12px; background: #fff; opacity: 0.6}
.product-list li .details {text-decoration:none;}

.liked-list li {width: 48%; margin:1%; float:left;}
.liked-list li .img img{width: 100%; height: 100%;}
.liked-list li .img {position:relative;}
.liked-list li .img span{position: absolute; width: 100%; line-height: 50px; bottom: 0; height: 50px; padding-left: 12px; background: #fff; opacity: 0.6}
.liked-list li .details {text-decoration:none;}

.bid-box{
    position:fixed;
    bottom:-220px;
    left:0%;
    height:220px;;
    background-color: #ecf0f1;
    width: 100%;
    display: block;
    z-index:999999;
}

.box-inner {
    position: absolute;
    width:100%;
    top: 0px;
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.user-list > ul > li > a > img {width: 60px; height: 60px; border-radius: 6px; float:left;}
.user-list > ul > li > a > label {width: 48%; float:left; color: #292929; font-size: 18px; line-height: 60px; padding-left: 2%;}
.user-list > ul > li {height: 70px; padding-top: 10px; width: 98%; background: #edf0f0; border-bottom: 1px solid #d7d7d7; border-top:1px solid #fff; padding-left: 1%; padding-right:1%;}
.user-list > ul > li > a > .div-table {height: 52px; max-width: 30%; padding: 4px; border-radius: 6px; background:#e3e5e5; color:#afafaf; float:right; font-size: 12px; display:inline-block; line-height:normal; display:table;}
.user-list .div-table > p{
    display:table-cell;
    vertical-align:middle;
}

.order-header {width: 100%; height: 120px; background:#f0f0f0; border-bottom:3px solid #0091ca; position:fixed; top:0;}
.order-header .btn {width: 168px; margin:0 auto; padding-top: 12px;}
.order-header .btn a.active {background: #087099; color:#abd4e0;}
.order-header .btn a{color:#444; border:1px solid #087099; font-size:18px; text-decoration:none; height: 36px; width: 82px; float:left; text-align:center; line-height:36px;}
.order-header .btn .first {border-radius: 4px 0 0 4px;}
.order-header .btn .second {border-radius: 0 4px 4px 0;}

.order-header .menu {width: 90%; height: 40px; float:left; padding-left: 5%; padding-right:5%; padding-top: 28px;}
.order-header .menu li {width: 18%; float:left; text-align:center;}
.order-header .menu a{text-align: center; width: 100%; text-decoration:none; color:#444;}
.order-header .menu .active a{background:#087099; color:#abd4e0; display:inline-block;}
.order-list {margin-top:128px;}
.order-list > ul > li {padding-left: 2%; padding-right: 2%; padding-top: 8px; padding-bottom: 8px; border-top: 1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; width:96%; height: 120px; float:left; position:relative;}
.order-list > ul > li > a > img {width:120px; height: 120px; float:left;}
.order-list .text {float:left; padding-left:12px; position:relative;height:120px; width: 50%;}
.order-list .text label {font-weight:bold; font-size:16px;}
.order-list .text p {font-size: 12px; position:absolute; bottom:4px;}
.order-list .tips {position: absolute; right: 12px; top: 2px; background: #087099; color:#fff; text-align:center; display:block; width: 100px; border-radius: 4px;}

.order-info {padding: 10px; font-size:14px; color:#444; line-height:22px;}
.event-list > ul > li:first-child{ background: #087099; }
.event-list > ul > li:first-child .text label {color:#fff;}
.event-list > ul > li:first-child .text p {color:#abd4e0;}
.event-list > ul > li {padding-left: 2%; padding-right: 2%; padding-top: 8px; padding-bottom: 8px; border-top: 1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; width:96%; height: 80px; float:left; position:relative;}
.event-list .img {width: 50px; float:left;}
.event-list > ul > li  > .img > img { height: 50px; float:left;}
.event-list .text {float:left; padding-left:12px; position:relative;height:80px; width: 50%;}
.event-list .text label {font-weight:bold; font-size:16px;}
.event-list .text p {font-size: 12px; position:absolute; bottom:4px;}
.event-list .tips {position: absolute; right: 12px; top: 2px; background: #087099; color:#fff; text-align:center; display:block; width: 100px; border-radius: 4px;}

.user-third-info {color: #ababab !important; background:#fff; height: 137px; width:100%; float:left; margin-top:8px; margin-bottom: 20px;}
.user-third-info li {width: 100%; float:left;}
.user-third-info label {width: 17%; padding-left: 3%; float:left;}
.user-third-info span {width: 80%; float:left;}
.user-third-info img{width: 80px; height: 80px; float:left; margin-right: 6px;}
.follow-btn > a {width: 40%; margin: 0 auto; height: 35px; border-radius:5px;color:#fff !important; background:#4f95d3; display:block; line-height: 35px; text-align:center; text-decoration:none;}
#unfollow-btn {background: #e8373a;}

body,ul,img,p {padding: 0; margin:0;}
.publish-content {}
.publish-content .img-list {padding: 10px; width: 100%; box-sizing: border-box;}
.publish-content .img-list .img-item {width: 150px; height: 150px; position:relative; float:left;}
.publish-content .img-item img {width: 150px; height: 150px; float:left; border-radius:4px; border:1px solid #e0e4e5;}
.publish-content .img-item i {position: absolute; top:0; right: 0; width: 16px; height: 16px; display: block;
    border-radius: 8px; border: 1px solid #fff; background: #000;
}
.publish-content .img-item {margin-left: 10px;}
.control-header {
    height: 53px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #1f1f1f;
    background: #2e2e2e;
    padding-top:3px;
}
.control-header a {
    margin-top:6px;
    width:18%;
    border:solid 1px #121212;
    border-radius:4px;
    height:35px;
    color:#fff;
    background: #2c2c2c;
    text-align:center;
    text-decoration: none;
    line-height:35px;
}
#cancel-btn {float:left;margin-left:1%;}
#next-btn {
    float: right;
    margin-right:1%;
    background:#1a4f72;
}
#publish-title {width: 100%; border: 1px solid #c2caca; border-radius:4px; line-height: 17px; font-size: 14px; padding: 7px 50px 7px 10px; box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1);}
#publish-content {width: 100%; height:40%; margin-top: 12px; border:1px solid #c2caca; box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1); border-radius: 4px;padding: 7px 50px 7px 10px; font-size:14px;}
.publish-content {
    margin-top: 45px;
    background: #fff;
    padding: 10px;
    width:100%;
}
.publish-content li{
    width: 100%;
    float: left;
    box-sizing: border-box;
    height: 39px;
}
.publish-content li label {
    width: 20%;
    float: left;
}
.publish-content li span {
    color: #6388d4;
    width: 50%;
    float: left;
}
.publish-content input[mytype=input] {
    width: 70%; border: 1px solid #c2caca; border-radius:4px; line-height: 17px; font-size: 14px; padding: 7px 50px 7px 10px; box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1);
}
.control-header {
    height: 53px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #1f1f1f;
    background: #2e2e2e;
    padding-top:3px;
}
.control-header a {
    margin-top:6px;
    width:18%;
    border:solid 1px #121212;
    border-radius:4px;
    height:35px;
    color:#fff;
    background: #2c2c2c;
    text-align:center;
    text-decoration: none;
    line-height:35px;
}
#cancel-btn {float:left;margin-left:1%;}
#next-btn {
    float: right;
    margin-right:1%;
    background:#1a4f72;
}
.fade-panel {
    width: 100%; height: 100%;
    position: fixed; top: 0; left: 0; z-index: 999;
    opacity: 0.8;
    background-color: rgb(0, 0, 0);
    display:none;
}
.time-panel {width: 80%; height: 80%; position:fixed; top: 10%; left: 10%; background: #fff; z-index: 1000;
    display:none;
}
.time-buttons a {
    width: 30%;
    height: 25px;
    border: 1px solid #999;
    float: left;
    text-align: center;
    line-height: 25px;
    color: #333;
    text-decoration: none;
    margin: 5px 1%;
    border-radius: 2px;
}
.time-panel label.title {
    color: #6488da;
    width: 100%;
    display: block;
    float: left;
    margin: 12px 0;
    padding-left: 8px;
}
#category-box{
    position:fixed;
    bottom:-220px;
    left:0%;
    height:220px;;
    background-color: #ecf0f1;
    width: 100%;
    display: block;
    z-index:999999;
}

#box-inner {
    position: absolute;
    width:100%;
    top: 0px;
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height:245px;
}
#box-inner li {width: 100%; border-bottom: 1px solid #e0e4e5;}
#box-inner a {
    text-align: center;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #6388d4;
    font-size: 18px;
    line-height: 36px;
}
.goods-item {margin-bottom: 20px;}

.no-more {
    display: block;
}
.no-more {
    display: block;
    margin: 0 20px;
    padding: 20px 0;
    font-size: 28px;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    background: #E5E5E5;
    clear: both;
}